.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

.notification {
  color: green;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  background: lightgrey;
  border-style: solid;
  border-radius: 5px;
  border: green;
  display: block;
}
.error {
  color: red;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 10px;
  background: lightgrey;
  border-style: solid;
  border-radius: 5px;
  border: red;
  display: block;
}

.form {
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-bottom: 1.25rem;
}
.filter {
  font-family: 'Fira Sans Condensed', sans-serif;
}
.contact {
  font-family: 'Fira Sans Condensed', sans-serif;
}

.nav-bar{
 font-family: 'Fira Sans Condensed', sans-serif;
 color:darkblue;
 margin-left:30px;
 width: 100%;
 margin-top:auto;

}





/* .header {
  height: 70px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
} */


.button:hover {
  background-color: red;
}



.add:hover {
  color: #000000;
  background-color: green;
}

.clear:hover {
  color: #000000;
  background-color: blue;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.container{
  min-width:100%
}
.cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.card {
  border-radius: 5px;
  padding:10px 25px;
  margin: 1%;
  -webkit-box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);
-moz-box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);
box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);
}

.title{
  background:darkblue;
  padding:5px;
  text-align: center;
  border-start-end-radius: 5px;
  color:white;
}

