.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}



.form {
  font-family: 'Fira Sans Condensed', sans-serif;
  padding-bottom: 1.25rem;
}
.filter {
  font-family: 'Fira Sans Condensed', sans-serif;
}


.nav-bar{
 font-family: 'Fira Sans Condensed', sans-serif;
 color:darkblue;
 margin-left:30px;
 width: 100%;
 margin-top:auto;
 display:flex;
 flex-direction: row;

}

.container{
  min-width:100%
}
.cards{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.add-contact-card {
  border-radius: 5px;
  padding:10px 45px;
  margin: 1%;
  -webkit-box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);
  -moz-box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);
  box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);
}

.info-card{
  border-radius: 5px;
  padding:10px 45px;
  margin: 1%;
  -webkit-box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);
  -moz-box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);
  box-shadow: -1px 0px 12px 1px rgba(0,0,0,0.54);

}
.title{
  background:darkblue;
  padding:5px;
  text-align: center;
  border-start-end-radius: 5px;
  color:white;
}

#info-field{
  padding-left: 3em;
  padding-right: 3em;
}
.logo-container {
  height: 80%;
  width: 71px;
  padding: 15px;
}
